@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

* {
	font-family: 'Open Sans', sans-serif;
}

div {
	padding-left: 2%;
	padding-right: 2%;
}

#first {
	height: 35%;
	width: 100%;
	background-color: #9AA5AF;
	display: flex;
	align-items: center;
	padding: 0;
}

#first h1 {
	color: white;
	text-align: center;
	margin: 0 auto;
}